/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2015, 2:24:05 PM
    Author     : HP
*/

.label
{
    -fx-font: "Helvetica";
    -fx-fill: white;
}